body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5; /* 背景を少しグレーに */
    display: flex;
    justify-content: center; /* 水平方向中央揃え */
    align-items: center;     /* 垂直方向中央揃え */
    height: 100vh;           /* 画面全体の高さを使用 */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    width: 70%;
    height: 50%;
    border-radius: 6px;
}

#logout{
    position: absolute;
    top: 100px;
    right: 10px;
    width: 30%;
    height: 50px;
    background-color:#ffffff;
    border-color: #00f7ff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#matching{
    background-color:#0370ff;
    color: white;
    margin: 10px 20px;
    width: 75%;
    height: 100px;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}


#rule,#score{
    background-color:#ffffff;
    border-color: #00f7ff;
    margin: 10px 20px;
    width: 50%;
    height: 50px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#rule:hover,#score:hover,#logout:hover{
    background-color: #f0f2f5;
    color: black;
    transform: translateY(-5px);
}

#matching:hover{
    background-color: #03e2ff;
    color: black;
}
